# ignore the following files

2017-10-01-230641_900x546_scrot.png
2018-02-19-113822_1366x768_scrot.png
.adobe
amixer
anaconda3
.apport-ignore.xml
.aptitude
.ardour2
.astropy
.atom
.audacity-data
.audacity_temp
.bash_aliases
.bash_aliases~
.bash_history
.bash_logout
.bashrc~
.bashrc-anaconda3.bak
.bashrc.save
.cabal
.cache
.caesaria
.cat_installer
catkin_ws
.cmus
.codeblocks
.compiz
.continuum
cortex
.cortex
.ctags
.cvpcb
.dbus
Desktop
.dmrc
Documents
Downloads
.dropbox
Dropbox
.dropbox-dist
eduroam_cert.crt
.eeschema
einstein riddle.ods
.emacs
.emacs.d
.example-content
.Examples.desktop
fann
feh_007820_000001_L6920-929TMP.png
.fehbg~
Firefox_wallpaper.png
.fltk
.FontForge
.fonts
.gconf
.ghc
.gimp-2.8
.git
.gitconfig
.gksu.lock
glyphy.odt
.gnome
.gnome2
.gnome2_private
.gnome-color-chooser
.gnupg
.golly
.gshutdown
.gstreamer-0.10
.gtkrc-2.0
.gtkrc-2.0-gnome-color-chooser
.gvfs
.hplip
i3-blur-wall.sh
.ICEauthority
.icons
IHaskell
.ipynb_checkpoints
.ipython
item
.jackdrc
.java
.jlog.ods
.jupyter
.kde
kdenlive
.kicad
.lesshst
.lives
livestmp
lmms
.lmmsrc.xml
.local
.log
.macromedia
mail
Mail
.Mathematica
.mess
missfont.log
.mozilla
.mplayer
Music
.mysql
.mysql_history
.nano
nerd-fonts
.nicotine
node_modules
nohup.out
.npm
.nylas-mail
.old_Xresources
.openshot
.pam_environment
.paradoxinteractive
Pictures
.pinerc
.pip
.pki
.profile
.psensor
Public
.pulse-cookie
.pylint.d
pyradio
.python_history
.qet
.qshutdown
.Rack
REAPER Media
.redshift_check
.ros
screensaver
.selected_editor
.Skype
Soulseek Chat Logs
Soulseek Downloads
.SoulseekQt
.spamassassin
.sql.sql
.ssh
.stack
.startpage.html~
.startup
.start-xmonad
.start-xmonad~
.start-xmonad.save
statement_of_intent.log
.steam
.steampath
.steampid
.stellarium
.sudo_as_admin_successful
.swo
.swp
.synaptic
.Temp
Temp icons
Templates
temp_storage
test
tester.py
.tester.py.swp
Test.pdf
.texmf
.texmf-var
texput.log
.thumbnails
.thunderbird
titlepage.aux
titlepage.log
titlepage.out
titlepage.pdf
tools
.traverso
urnn
Videos
.vim
.viminfo
.viminfo.tmp
.vimperator
~.vimrc
.vimrc~
VirtualBox VMs
vst
.w3m
.wine
.wine-browser
.wine-pipelight
.wireless.sh
.Xauthority
.xinitrc.swp
.xinputrc
.xmobarrc~
.xmobarrc.swp
.Xmodmap
.Xresources~
.xscreensaver
.xsession-errors
.xsession-errors.old
*.swp
temp_git
status.txt
.config/.ACEStream
.config/Atom
.config/autostart
.config/calendar-indicator
.config/cef_user_data
.config/chromium
.config/Code
.config/compiz-1
.config/compton.conf~
.config/dconf
.config/enchant
.config/eog
.config/evince
.config/evolution
.config/gedit
.config/gnome-control-center
.config/gnome-panel
.config/gnome-session
.config/goa-1.0
.config/gtk-2.0
.config/gtk-3.0
.config/guitarix
.config/htop
.config/ibus
.config/icedtea-web
.config/inkscape
.config/jack
.config/jstest-gtk
.config/kactivitymanagerdrc
.config/keepassx
.config/klavaro
.config/libaccounts-glib
.config/libreoffice
.config/libreoffice.old
.config/matplotlib
.config/menus
.config/midori
.config/mimeapps.list
.config/monitors.xml
.config/nautilus
.config/neofetch
.config/Nylas Mail
.config/obs-studio
.config/ProIndependent
.config/pulse
.config/pytyle3
.config/QtProject.conf
.config/ranger
.config/rncbc.org
.config/signond
.config/Skype
.config/software-center
.config/totem
.config/tracker
.config/transmission
.config/Trolltech.conf
.config/ubuntu-tweak
.config/ubuntu-ui-toolkit
.config/umake
.config/unity
.config/unity3d
.config/unity-tweak-tool
.config/Unknown Organization
.config/update-notifier
.config/upstart
.config/user-dirs.dirs
.config/user-dirs.locale
.config/VirtualBox
.config/vlc
.config/xfce4
.config/yelp/
.Install
.spyder2-py3/
.swm
.swn
temp_apt
.vifm/
SeventhSense-1.17.0 (2)/
.bash_profile
.config/caja/
.config/launcher-main/
.config/mate/
.inputrc
.paradoxlauncher/
.xsession
working
.themes/*
.config/GIMP/
.config/REAPER/
.config/pavucontrol.ini
.config/skanliterc
.var/
.wget-hsts
.wine_tab/
.zoom/
My Tableau Repository/
hp-check.log
~/.xmonad/xmonad.errors
.config/falkTX/
.config/guvcview2/
.wallpapers/2109.jpg
.wallpapers/photo-1485470733090-0aae1788d5af
.wine64/
