[Desktop Entry]
Type=Application
Exec=/home/damien/.start-xmonad
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=false
Name[en_IE]=Xmonad + Wallpaper
Name=Trayer + Wallpaper
Comment[en_IE]=
Comment=
