[Desktop Entry]
Type=Application
Exec=skype
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=false
Name[en_IE]=Skype
Name=Skype
Comment[en_IE]=
Comment=
